@import "tailwindcss";

@theme {
  /* Colors */
  --color-background: #FFF9EB;
  --color-main: #412B03;
  --color-primary: #312002;
  --color-secondary: #FFE78965;
  --color-tertiary: #FED7D6;
  --color-icon: #FFE789;

  /* Breakpoints */
  --breakpoint-2xs: 400px;
  --breakpoint-xs: 480px;
  --breakpoint-2sm: 32.5rem;
  --breakpoint-regular: 924px;
  --breakpoint-fixed: 670px;
  --breakpoint-hero: 85rem;

  /* Fonts */
  --font-bellota: 'Bellota Text', system-ui;
}

.bellota-text-stroke-md {
  -webkit-text-stroke: 2px #412B03;
}

.bellota-text-stroke {
  -webkit-text-stroke: 3px #412B03;
}

.bellota-text-stroke-large {
  -webkit-text-stroke: 4px #412B03;
}

.bellota-text-stroke-small {
  -webkit-text-stroke: 1px #412B03;
}

/* Custom positioning for SoftStar on screens >840px */
@media (min-width: 924px) {
  .softstar-custom {
    top: -42px !important;
    left: 0 !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */
  -webkit-overflow-scrolling: touch; /* Scroll suave en iOS */
}