---
import SeeMore from "../icons/SeeMore.astro"
import HeroVector from "../vectors/HeroTextVector.astro"
---

<a href="#" class="flex items-center gap-1.5 px-4 py-1.5 bg-main text-icon rounded-full shadow-xl shadow-icon/60 w-fit">
    <span class="tracking-tight text-sm lg:text-base">Ver mas</span>
      <SeeMore class="size-4" />
  </div>
</a>