---
import Star from '../icons/Star.astro';

interface Props {
  content: string;
  points: string;
}

const {content = "Pasteles"} = Astro.props
const {points = "5"} = Astro.props
---

<div class="flex items-center gap-x-3 bg-white px-2 py-1.5 rounded-full w-fit">
  <span class="inline-flex tracking-tight text-main font-semibold pl-2 text-base md:text-lg">
    {content}
  </span>
  <span class="flex justify-center items-center bg-main/20 rounded-full size-6 md:size-8 text-main font-bold text-sm md:text-base">
    {points}
  </span>
</div>