---
import Hero from '../layouts/Hero.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Products from '../layouts/Products.astro';
import Carrousel from '../components/Carrousel.astro';
import Footer from '../layouts/Footer.astro';
import Section from '../components/Section.astro';
import Benefits from '../layouts/Benefits.astro';
import CarrouselSwiper from '../components/CarrouselSwiper';
---

<Layout>
	<Section>
		<Header />
		<Hero />
		<Products />
		<Benefits />
		<Carrousel />
		<!-- Swiper version for testing -->
		<CarrouselSwiper />
	</Section>
</Layout>
<Footer />
