---
import SeeMore from "./icons/SeeMore.astro"
import HeroVector from "./vectors/HeroTextVector.astro"
---

<button>
  <div 
    class="flex items-center justify-between gap-1.5 px-4 py-1.5 bg-main text-icon rounded-full shadow-xl shadow-icon/60"
  >
    <span class="tracking-tight text-sm lg:text-[16px]">Ver mas</span>
    <a href="#">
      <SeeMore class="size-4" />
    </a> 
  </div>
</button>