---
import Pills from "./items/Pills.astro";
import Avatar from "./icons/Avatar.astro";
import Star from "./icons/Star.astro";
---

<style>
  section {
    line-height: 0;
  }
</style>

<section
  class="bg-main/10 p-7 regular:p-8 mt-8 rounded-3xl flex items-center gap-x-2 regular:gap-x-4 flex-col regular:flex-row regular:gap-y-0 divide-y divide-main/30 regular:divide-none"
>
  <div class="flex flex-col gap-y-6 regular:w-6/12 pb-5 regular:pb-0">
    <h1
      class="text-4xl xs:text-5xl font-bold text-main bellota-text-stroke font-bellota 2xs:bellota-text-stroke-large tracking leading-11"
    >
      Con suficiente azucar, todo es bueno.
    </h1>
    <div
      class="flex gap-y-3 flex-col 2sm:flex-row 2sm:items-center regular:gap-x-4 justify-items-end"
    >
      <div class="flex items-center gap-x-4">
        <Avatar class="size-16 rounded-full" />
        <span
          class="flex leading-5 text-main/90 tracking-tight pr-2 regular:pr-0 text-sm xs:text-base"
          >Pastelera profesional con +5 años de experiencia</span
        >
      </div>

      <a
        href="#"
        class="text-sm xs:text-base text-main tracking-tight leading-5 underline decoration-main/50 font-semibold block 2sm:text-end pl-2 2sm:pl-0"
      >
        Que es lo que preparamos?
      </a>
    </div>
  </div>

  <div class="w-px self-stretch bg-main/30 mx-1 hidden 2sm:flex"></div>

  <div class="flex flex-col justify-between pt-4 regular:pt-0 regular:w-6/12">
    <div class="flex items-center justify-start gap-x-4 2sm:pb-3 pl-2">
      <div>
        <span class="text-4xl font-bold text-main tracking-tight align-middle">
          4.32</span>
      </div>

      <div class="">
        <div class="flex gap-x-0.5">
          <Star class="size-5 text-amber-400" />
          <Star class="size-5 text-amber-400" />
          <Star class="size-5 text-amber-400" />
          <Star class="size-5 text-amber-400" />
          <Star class="size-5 text-neutral-400" />
        </div>
        <span class="text-main/80 text-sm font-medium tracking-tight hidden 2sm:flex">
          basado en opiniones de mas de 100 clientes.</span>
      </div>

    </div>
    <div class="pl-2 pb-2 flex 2sm:hidden">
      <span class="text-main/80 text-sm font-medium tracking-tight">
        basado en opiniones de mas de 100 clientes.</span>
    </div>
    <div class="flex flex-wrap gap-2 regular:gap-3 w-full">
      <Pills content="Postres" points="5" />
      <Pills content="Cupcakes" points="4" />
      <Pills content="Pasteles" points="5" />
      <Pills content="Crema de limon" points="5" />
      <Pills content="Galletas" points="4" />
      <Pills content="Brownies" points="5" />
    </div>
  </div>
</section>
