---
import HeroLeftSide from "../components/HeroLeftSide.astro"
import HeroImage from "../components/HeroImage.astro"

---

<section class="px-4 regular:mt-6">
	<main
		class="mx-auto w-full max-w-[1000px] pt-24 flex flex-col gap-y-8 regular:flex-row regular:justify-between regular:gap-0 overflow-visible h-[629px]"
	>
		<HeroLeftSide />

		<HeroImage />

	</main>
</section>
