---
import HeroLeftSide from "../components/HeroLeftSide.astro"
import HeroImage from "../components/HeroImage.astro"
import Experience from "../components/Experience.astro"

---

<section
	class="pt-24 flex flex-col gap-y-8 regular:flex-row regular:justify-between regular:gap-0 overflow-visible"
>
	<HeroLeftSide />
	<HeroImage />
</section>

<section class="">
	<Experience />
</section>
