---
import HeroLeftSide from "../components/HeroLeftSide.astro"
import HeroImage from "../components/HeroImage.astro"
import Experience from "../components/Experience.astro"

---

<main id="top" class="px-4 regular:mt-6 scroll-mt-20">
	<section
		class="mx-auto w-full max-w-[1400px] pt-24 flex flex-col gap-y-8 regular:flex-row regular:justify-between regular:gap-0 overflow-visible"
	>
		<HeroLeftSide />
		<HeroImage />
	</section>

	<section class="mx-auto w-full max-w-[1400px]">
		<Experience />
	</section>
</main>
