---
import "../styles/global.css"
import '@fontsource/poppins/300.css';
import '@fontsource/poppins/400.css';
import '@fontsource/poppins/500.css';
import '@fontsource/poppins/600.css';
import '@fontsource/poppins/700.css';
import '@fontsource/poppins/800.css';
import '@fontsource/poppins/900.css';
import '@fontsource/bellota-text/300.css';
import '@fontsource/bellota-text/400.css';
import '@fontsource/bellota-text/700.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Nanes Cake - Reposteria</title>
	</head>
	<body>
		
		<div class="fixed top-0 -z-10 h-full w-full bg-background">
		</div>

		<main class="px-4 regular:mt-6 scroll-mt-20 mx-auto w-full max-w-[1400px] overflow-visible">
			<slot />
		</main>

	</body>
</html>

<style is:global>
	html {
		font-family: 'Poppins', sans-serif;
		scroll-behavior: smooth;
	}

	@media (prefers-reduced-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
	body {
		display: flex;
		flex-direction: column;
		margin: 0;
		width: 100%;
		min-height: 100vh;
	}
</style>
